.theme-nav {
    background: $nav_background;
    border-bottom: none !important;
}

.el-menu-item,
.el-submenu,.el-submenu__title {
    color: $nav_color !important;
    background-color: inherit !important;


    &:hover {
        color: #FFCF40 !important;
        border-bottom-color: $nav_color !important;
        text-decoration: none !important;
    }
}

.theme-sidebar {
    background: $sidebar_background;
}


.el-menu--horizontal,.el-menu {
    background-color: $sidebar_background !important;

     .el-menu-item {
        background-color: $sidebar_background !important;

        .el-submenu__title {
            background-color: $sidebar_background !important;
        }
    }
}
.el-menu-item-group {
    background-color: #3a3535 !important;
}
.col-dashboard{
    margin-left: 10px;
}